body, html {
	background-image: url("./textures/Brick_02.png");
	padding: 0px;
	margin: 0px;
}



.rr-opp-battle-stat {
	text-align: right;
	background-color: #ffffffaa;
	font-size: 48px;
}

.rr-user-battle-stat {
	text-align: left;
	background-color: #ffffffaa;
	font-size: 48px;
}

#board {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.rr-hand-container {
	height: 40vh;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.rr-card {
	background-image: url("./textures/paper.jpg");
	background-repeat: repeat;
	background-size: 300px;
	padding: 15px;
	width: 100px;
	border-radius: 15px;
	height: 180px;
	margin: 15px;
	font-family: fantasy;
}

.rr-played-card {
	display: grid;
   	place-items: center;
	position: absolute;
	top: 0px;
	opacity: 0;
	pointer-events: none;
	width: 100vw;
	height: 100vh;

	transition: opacity 0.25s, display 0.25s allow-discrete;

}


.rr-card-backside {
	
}

.rr-card-frontside {

	transition: transform 0.3s ease;


}

.rr-card-frontside:hover {

  transform: translateY(-3px); /* Lifts the button slightly */
}